<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Call lifted ..</h1>
        <h1>Haa raa Just now</h1>
        <h2>Chicken Biriyani With King-fisher Strong</h2>
        <h1>Ok raa .. Actually I have some other work </h1>
        <h2>So I will call you later ..... Don't mind aa </h2>
        <h2>Ok bye raa</h2>
        <a href="{% url 'sree2' %}"><h2>Response of Sree</h2></a>
    </center>
</body>
</html>